@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
body {
  background: #000;
}

.container .head {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  z-index: 1000;
}

.container .head img {
  width: 13%;
}
.container .head a {
  color: #fff;
  text-decoration: none;
  background-color: #e50914;
  padding: 8px 19px;
  border-radius: 5px;
}

.container .signinpage img {
  
  width: 13%;
  
}
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .fit {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to bottom, #000, transparent);
}

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top, #000, transparent);
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner .box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.banner .box .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner .box .heading h2 {
  font-size: 3.12rem;
  color: #fff;
  letter-spacing: 2px;
  width: 80%;
}

.banner .box .heading h5 {
  font-size: 1.612rem;
  color: #fff;
  font-weight: 400;
  padding: 1rem 0;
}
.banner .box .heading p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  padding: 15px 0;
  padding-bottom: 20px;
}
.banner .box .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner .box .search input {
  font-size: 16px;
  border: 1px solid #8c8c8c;
  outline: none;
  color: #000;
  border-radius: 2px;
  padding: 10px 10px 0;
  min-width: 400px;
  height: 60px;
  align-items: center;
}
.banner .box .search a {
  text-decoration: none;
  color: #fff;
  background-color: #e50914;
  border: 1px solid none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1px;
  background: #e50914;
  box-shadow: 0 1px rgba(0, 0, 0, 0.45);
  font-size: 1.425rem;
  line-height: 58px;
  min-width: 240px;
  padding: 0 30px;
}

.part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 0.6rem solid #111;
}
.part1 .talk {
  width: 40%;
}

.part1 .talk h1 {
  font-size: 3.1rem;
  /* letter-spacing: 2px;
    padding-bottom: 10px; */
  color: #fff;
}

.part1 .talk p {
  font-size: 1.67rem;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #fff;
}
.part1 .img {
  width: 40%;
}
.part1 .img img {
  width: 100%;
}

.part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 0.6rem solid #111;
}
.part2 .talk {
  width: 45%;
}

.part2 .talk h1 {
  font-size: 3.1rem;
  /* letter-spacing: 2px;
    padding-bottom: 10px; */
  color: #fff;
}

.part2 .talk p {
  font-size: 1.67rem;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #fff;
}
.part2 .img {
  width: 40%;
}
.part2 .img img {
  width: 100%;
}

.list {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.list h1 {
  color: #fff;
  font-size: 3rem;
  margin: 3rem 0 4rem 0;
}
.title {
  background: #303030;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  text-decoration: none;
}

.icon {
  width: 20px;
  position: relative;
}
.icon::before,
.icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #fff;
  top: -1.5px;
}
.icon::after {
  transform: rotate(90deg);
  transition: 0.5s linear;
}

.text {
  line-height: 35px;
  margin: 3px 0;
  background-color: #303030;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  height: 0;
  opacity: 0;
}

.item:target .text {
  opacity: 1;
  height: auto;
  padding: 20px 35px;
  margin: 0;
  border-top: 2px solid #000;
  margin-bottom: 6px;
}
.item:target .icon::after {
  transform: rotateY(90deg);
}

.banner2 {
  border-bottom: 0.6rem solid #111;
}

.banner2 .box {
  /* position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000; */
  margin: 4rem 0;
  margin-left: 0%;
}
.banner2 .box .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-left: 15%; */
  margin-right: 0%;
}
/* .banner2 .box .heading h2{
    font-size: 3.12rem;
    color: #fff;
    letter-spacing: 2px;
    width: 80%;
}

.banner2 .box .heading h5{
    font-size: 1.612rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem 0;
    
}  */
.banner2 .box .heading p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  padding: 15px 20px;
  margin-right: 5%;
}
.banner2 .box .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 35%;
  margin-left: 35%;
}
.banner2 .box .search input {
  font-size: 16px;
  border: 1px solid #8c8c8c;
  outline: none;
  color: #000;
  border-radius: 1px;
  padding: 10px 10px;
  min-width: 400px;
  height: 60px;
  align-items: center;
}
.banner2 .box .search a {
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1px;
  background: #e50914;
  box-shadow: 0 1px rgba(0, 0, 0, 0.45);
  font-size: 1.425rem;
  line-height: 35px;
  min-width: 240px;
  padding: 15px 30px;
  padding-top: 13px;
  padding-bottom: 9px;
  margin-right: 9%;
}
 .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 4rem 0;
  gap:20px;
}

.footer .one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 25%;
  
}
.footer .one li {
  padding: 7px 0;
}
.footer .one li a {
  color: #fff;
  text-decoration: none;
}
.footer .one li a:hover {
  border-bottom: 1px solid;
}

.footer .two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 25%;
}
.footer .two li {
  padding: 7px 0;
}
.footer .two li a {
  color: #fff;
  text-decoration: none;
}
.footer .two li a:hover {
  border-bottom: 1px solid;
} 
/* .footer__row__1{
  color: #fff;
 
 margin: 80px 160px 0px  ;
} */




@media screen and (max-width: 787px) {
  .container .head {
    padding: 20px 50px;
  }

  .container .head img {
    width: 25%;
  }

  .banner .box .heading h2 {
    font-size: 1.9rem;
    letter-spacing: 1.5px;
    width: 90%;
  }

  .banner .box .heading h5 {
    font-size: 2.4rem;
    padding: 0.8rem 0;
  }
  .banner .box .heading p {
    font-size: 2.4rem;
    padding: 13px 0;
    padding-bottom: 17px;
  }

  .banner .box .heading p {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
  }
  .banner .box .search {
    flex-direction: column;
  }
  .banner .box .search input {
    min-width: 310px;
    margin-bottom: 20px;
  }

  .part1 {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: center;
  }
  .part1 .talk {
    width: 80%;
    margin: 20px 0 30px 0;
  }

  .part1 .talk h1 {
    font-size: 3.2rem;
    letter-spacing: 1.5px;
    padding-bottom: 5px;
  }
  .part1 .talk p {
    font-size: 1.5rem;
  }
  .part1 .img {
    width: 80%;
  }

  .part2 {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: center;
  }
  .part2 .talk {
    width: 80%;
    margin: 20px 0 30px 0;
  }
  .part2 .talk h1 {
    font-size: 3.2rem;
    letter-spacing: 1.5px;
    padding-bottom: 5px;
  }

  .part2 .talk p {
    font-size: 1.5rem;
  }

  .part2 .img {
    width: 80%;
  }

  .list {
    width: 80%;
  }
  .list h1 {
    font-size: 2.6rem;
    text-align: center;
  }
  .title {
    font-size: 1.6rem;
  }

  .banner2 {
    border-bottom: 0.6rem solid #111;
  }

  .banner2 .box {
    margin: 4rem 0;
  }

  .banner2 .box .heading p {
    font-size: 1.3rem;
    padding: 13px 0;
    margin-right: 0%;
    padding-bottom: 17px;
    max-width: 400px;
  }
  .banner2 .box .search {
    flex-direction: column;
  }
  .banner2 .box .search input {
    min-width: 310px;
    margin-bottom: 20px;
  }
  .banner2 .box .search a {
    font-size: 1.4rem;
    line-height: 20px;
    min-width: 240px;
    padding: 15px 30px;
  }

  .footer {
    flex-direction: column;
  }
  .footer .one {
    width: 50%;
  }

  .footer .two {
    width: 50%;
  }
}
@media screen and (max-width: 496px) {
  .container .head {
    padding: 20px 50px;
  }
  .container .head a {
    font-size: 0.8rem;
    padding: 7px;
  }

  .container .head img {
    width: 25%;
  }
  .banner img{
      width: 220%;
  }
  .banner .box .heading h2 {
    font-size: 2rem;
    letter-spacing: 1.3px;
  }

  .banner .box .heading h5 {
    font-size: 1.2rem;
  }
  .banner .box .heading p {
    font-size: 1rem;
    padding: 12px 0;
    padding-bottom: 15px;
  }
  .banner .box .search input {
    margin-bottom: 8px;
    padding: 15px 10px;
  }
  .part1 .talk h1 {
    font-size: 3rem;
    letter-spacing: 1.2px;
  }
  .part1 .talk p {
    font-size: 1.2rem;
  }
  .part2 .talk h1 {
    font-size: 3rem;
    letter-spacing: 1.2px;
  }

  .part2 .talk p {
    font-size: 1.2rem;
  }
  .list {
    width: 90%;
  }
  .list h1 {
    font-size: 2rem;
  }
  .two{
      font-size: 1.2rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .banner2 .box .heading p {
    font-size: 1rem;
    padding: 13px 0;
    max-width: 300px;
  }

  .banner2 .box .search input {
    margin-bottom: 10px;
  }
}
